In [2]:
import sqlite3

In [4]:
# Creating a connection to the database
conn = sqlite3.connect('demo_data.sqlite3')
curs = conn.cursor()

In [50]:
# Creating the demo_table with the columns
def dbt_create():
    table = '''CREATE TABLE demo_table3(
    s text NOT NULL,
    x int NOT NULL,
    y int NOT NULL
    )'''
    curs.execute(table)

In [51]:
dbt_create()

In [52]:
# Adding rows to the demo_table 
def dbt_insert():
    table2= '''INSERT INTO demo_table VALUES
        ('g', 3, 9),
        ('v', 5, 7),
        ('f', 8, 7)'''
    curs.execute(table2)

In [53]:
dbt_insert()

In [54]:
# Saving and committing data to the table and database
def dbt_save():
    conn.commit()

In [56]:
dbt_save()

In [57]:
# COunting all the rows
def row_count():
    q1= ''' SELECT COUNT (s) FROM demo_table'''
    curs.execute(q1)
    return curs.fetchall()

In [58]:
row_count()

[(3,)]

In [63]:
# Query rows greater than 5
def min_count():
    q2 = ''' SELECT COUNT(*) FROM demo_table 
    WHERE x >=5 and y >=5'''
    curs.execute(q2)
    return curs.fetchall()

In [64]:
min_count()

[(2,)]

In [65]:
# Counting the Unique y values

def unique_count():
    q4 = '''SELECT COUNT(DISTINCT y) FROM demo_table'''
    curs.execute(q4)
    return curs.fetchall()

In [66]:
unique_count()

[(2,)]